[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/auto-modeler"]
	path = modules/auto-modeler
	url = git://github.com/zombor/Auto-Modeler.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/minion-core"]
	path = modules/minion-core
	url = https://github.com/kohana-minion/core.git
[submodule "modules/arden"]
	path = modules/arden
	url = git://github.com/zombor/Arden-PHP.git
