<h2>Demo Menu</h2>
{{>menu}}
<h2>Actions</h2>
<ul>
	<li><a href="#">List all users</a></li>
</ul>
<h2>Create a new user</h2>
<form action="" method="post">
	{{#has_errors}}
		<ul class="errors">
		{{#errors}}
			<li><label for="{{key}}">{{error}}</label></li>
		{{/errors}}
		</ul>
	{{/has_errors}}
	<dl>
		{{#email}}
		<dt>
			<label for="{{id}}">{{label}}</label>
			{{#has_error}}<label for="{{id}}" class="error">{{error}}</label>{{/has_error}}
		</dt>
		<dd><input name="{{name}}" id="{{id}}"{{#has_error}} class="highlight bad"{{/has_error}} /></dd>
		{{/email}}
		{{#password}}
		<dt>
			<label for="{{id}}">{{label}}</label>
			{{#has_error}}<label for="{{id}}" class="error">{{error}}</label>{{/has_error}}
		</dt>
		<dd><input type="password" name="{{name}}" id="{{id}}"{{#has_error}} class="highlight bad"{{/has_error}} /></dd>
		{{/password}}
		<dt>
			<label for="groups">Groups</label>
		</dt>
		<dd>
			<ul>
			{{#groups}}<li><label><input type="checkbox" name="groups[]" value="{{id}}" /> {{name}}</label></li>{{/groups}}
			</ul>
		</dd>
		<dd><input type="submit" value="New User" /></dd>
	</dl>
</form>
